<div class="col-md-6">
  <h2 class="text-center">Create</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name" [ngClass]="{'is-invalid':addForm.get('name').touched && addForm.get('name').invalid}" minlength />
      <div *ngIf="addForm.get('name').touched && addForm.get('name').invalid">
        <div *ngIf="addForm.get('name').errors.required">1111111111111</div>
        <div *ngIf="addForm.get('name').errors.minlength">2222222222</div>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input formControlName="price" placeholder="Price" name="price" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input formControlName="address" placeholder="Address" name="address" class="form-control" id="address">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
    </div>

    <button class="btn btn-success" >Create</button>
  </form>
</div>
<!--div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">-->
<!--<div *ngIf="form.get('email').errors.required">Email Name is required</div>-->
<!--<div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>-->
<!--</div>-->

